<a href="https://colab.research.google.com/github/mietekdom/Machine_Learning/blob/main/06_Regresja_metody_oceny_modelu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
y_true = 100 + 20 * np.random.randn(50)
y_true

array([118.94202572,  95.62934102,  93.87301506, 108.9198665 ,
       125.31046432,  83.48233063, 111.11099876,  73.45488155,
       126.91258651,  96.58074501,  90.16129479,  85.08068364,
       127.75409916,  95.82458627, 110.5139483 , 126.21632359,
       101.52611219, 117.31165595,  75.07104003, 116.00908256,
       106.55262638,  82.85427754, 153.06942997, 112.33607494,
        88.00320963,  80.54158063,  68.00739982, 103.6751272 ,
        77.11799284, 111.03431903, 117.4956971 , 117.66051391,
       100.3758866 , 111.76665721, 104.89418778, 101.45306152,
       101.10101955, 108.56241205,  87.06964153, 115.71063647,
       112.20067863,  93.3894154 , 107.7566489 , 107.35973572,
        89.00306595,  66.82576819,  81.00901352, 105.57625535,
        96.0074957 , 125.09687635])

In [3]:
y_pred = y_true + 10 * np.random.randn(50)
y_pred

array([107.32949871,  82.9929695 , 100.24637979, 110.63274787,
       131.59975161,  93.05656984, 109.41813169,  76.06441172,
       126.62606681,  94.17029763,  81.13368097,  94.08928075,
       119.10673947, 108.92214478, 111.03454816, 119.93582159,
       105.78234618, 118.09956618,  67.21473805, 106.70845569,
        93.32522038,  55.2671704 , 159.86083768, 112.91055681,
        98.44167914,  90.5078977 ,  59.20651466,  97.09961242,
        69.53679074, 101.04187563, 109.69976641, 103.47198665,
        93.2542716 , 110.29231907,  88.46186284,  94.74809539,
       100.68085947, 111.95009254,  81.24507024, 140.59399021,
       114.43327408,  89.25050937,  97.78409951, 100.53571703,
        84.67697476,  64.24199506,  80.84327153, 103.16866617,
        84.12059524, 111.71143706])

In [4]:
results = pd.DataFrame({'y_true': y_true, 'y_pred': y_pred})
results.head()

       y_true      y_pred
0  118.942026  107.329499
1   95.629341   82.992970
2   93.873015  100.246380
3  108.919867  110.632748
4  125.310464  131.599752